<div>
    <div class="showtime-info">
        <h1 class="frontHeadline">Boka nu!</h1>
        <p class="frontParagraph">Nedan finns en lista över aktuella filmer som går att boka på Filmvisarna AB's biografer
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="booking-image thegreat" src="/images/thegreatestshowmanCarousel.jpg">
                <img class="booking-image birdbox" src="/images/birdboxCarousel.jpg">
                <img class="booking-image astarisborn" src="/images/astarisbornCarousel.jpg">
                <img class="booking-image mebeforeyou" src="/images/mebeforeyouCarousel.jpg">
                <img class="booking-image armageddon" src="/images/armageddonCarousel.jpg">
            </div>
            <div class="col-md-9 movie-align">
                ${this.movies}
            </div>
        </div>
    </div>
</div>