<footer class="footer container-fluid text-center text-light p-0 sudha-footer">
  <div class="row m-1 justify-content-md-center">
    <div class="col-md-2">
      <p>© 2019 Copyright Grupp5</p>
    </div>
    <div class="col-md-2">
      <p>Address: Filmvisarana AB, Lund</p>
    </div>
    <div class="col-md-2">
      <p>Email: grupp5@biobokning.com</p>
    </div>
    <div class="col-md-2">
      <p>Mobil: 0735-XXXXXX</p>
    </div>
    <div class="col-md-2">
      <i class="big-icon fab fa-facebook"></i>
      <i class="big-icon fab fa-twitter-square"></i>
      <i class="big-icon fab fa-snapchat"></i>
    </div>
  </div>
</footer>