<footer class= "container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <p>© 2019 Copyright Grupp5-BioBokning</p>
    </div>
    <div class="col-lg-2">
      <p>Address: Filmvisarana AB, Lund</p>
    </div>
    <div class="col-lg-3">
      <p>Email: grupp5@biobokning.com </p>
    </div>
    <div class="col-lg-2">
      <p>Mobil: 0735XXXXXX </p>
    </div>
    
    <div class="col-lg-2">
          <i class="big-icon fab fa-facebook"></i>
          <i class="big-icon fab fa-twitter-square"></i>
          <i class="big-icon fab fa-snapchat"></i>
      
    </div>
  </div>
</footer>