<div class="modal" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bokningsnummer: ${this.bookingNum}</h5>
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p><i class="fas fa-door-open"></i> Salong: ${this.auditorium} </p>
          <p><i class="fas fa-film"></i> Film: ${this.film}</p>
          <p><i class="fas fa-couch"></i> Platser: ${this.seatsText} </p>
          <p><i class="fas fa-coins"></i> Pris: ${this.totalPrice}</p>
        </div>
        <div class="modal-footer">
          <a href="/" data-dismiss="modal">Stäng</a>
        </div>
      </div>
    </div>
  </div>