<div>
    ${!this.movie || !this.movie.title ? 'Ingen film med detta id' : `
    <h2>${this.movie.title}</h2>
    <p>${this.movie.description}</p>
    <p>${this.movie.productionYear}</p>
    <p>${this.movie.length}</p>
    <p>${this.movie.genre}</p>
    <p>${this.movie.distributor}</p>
    <p>${this.movie.language}</p>
    <p>${this.movie.subtitles}</p>
    <p>${this.movie.director}</p>
    <p>${this.movie.actors.join(',')}</p>
    <p>${this.movie.productionCountries.join(',')}
        <p>${this.movie.reviews[0].source} </p>
        <p>${this.movie.reviews[0].quote} </p>
        <p>${this.movie.reviews[0].stars}</p>
        <p>${this.movie.reviews[0].max} </p>
        <img src="${this.movie.image}" /> `}
</div>