<div>
    <div class="row text-center">
        <h2 class="col-12">Välj antal biljetter</h2>
        <div class="col-4">
            <h4>Vuxna</h4>
            <button type="button" class="btn btn add-adult">+</button>
            <span class="adult">${this.countAdult}</span>
            <button type="button" class="btn btn remove-adult">-</button>
        </div>
        <div class="col-4">
            <h4>Barn</h4>
            <button type="button" class="btn btn add-kid">+</button>
            <span class="kid">${this.countKid}</span>
            <button type="button" class="btn btn remove-kid">-</button>
        </div>
        <div class="col-4">
            <h4>Pensionär</h4>
            <button type="button" class="btn btn add-retired">+</button>
            <span class="retired">${this.countRetired}</span>
            <button type="button" class="btn btn remove-retired">-</button>
        </div>
    </div>
    <div class="row mt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6 screen">
                <div class="row screentext"><p>Bioduk</p></div>
            </div>
            <div class="col-md-3"></div>
            <div class="auditorium">${this.auditorium}</div>
        </div>
</div>