.movie-color {
  color: #761818 !important;
}

.booking-image {
  object-fit: cover;
  width: 277px;
  margin-left: -23px;
  margin-top: 133px;
  -webkit-box-shadow: 0px 0px 96px -20px rgba(242,242,242,0.62);
  -moz-box-shadow: 0px 0px 96px -20px rgba(242,242,242,0.62);
  box-shadow: 0px 0px 96px -20px rgba(242,242,242,0.62);
}

.movie-align {
  text-align: center;
}

.movie-margin {
  margin-left: 15px;
}

.movie-inline {
  display: inline-block;
}

.movie-color {
  color: #f2f2f2 !important
}

.movie-align > div {
  margin-top: 100px;
}

.showtime-info {
  margin-bottom: -44px;
}