.cinemaDiv {
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #181a1c;
}

.cinemaName {
    color: white;
}

.pickTicketSize {
    font-size: 1.875rem;
}

.personTicketSize {
    font-size: .875rem;
}

.auditorium {
    margin-top: 75px;
}